* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: border-box;
}
.button {
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  background-color: #fff;
  color: #212121;
  margin: auto;
}
@media screen and (max-width: 768px) {
  body {
    min-width: 480px;
    max-width: 768px;
  }
}
@media screen and (min-width: 769px) {
  body {
    min-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  body {
    max-width: 1600px;
  }
}
.container {
  margin: auto;
}
@media screen and (max-width: 768px) {
  .container {
    min-width: 480px;
  }
}
@media screen and (min-width: 769px) {
  .container {
    min-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.logo {
  width: 145px;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  color: #000;
}
.logo--blue {
  color: #2196f3;
}
.logo--white {
  color: #fff;
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 250ms linear, visibility 250ms linear,
    opacity 250ms linear;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 300ms linear, visibility 300ms linear,
    opacity 300ms linear;
}
.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.modal__close-btn:hover {
  border-color: #2196f3;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form__group {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.modal-form__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: none;
  padding-bottom: 12px;
}
.modal-form__label {
  padding-bottom: 10px;
  position: relative;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__label::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 0;
  bottom: 0;
  width: 18px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.modal-form__label:focus-within {
  fill: #2196f3;
}
.modal-form__label:nth-child(6) {
  padding-bottom: 0px;
  padding-top: 0px;
  text-align: center;
}
.modal-form__label p {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-form__svg {
  position: absolute;
  bottom: 22px;
  left: 12px;
}
.modal-form__input {
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 12px 12px 42px;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus {
  outline: none;
  border-color: #2196f3;
}
.modal-form__textarea {
  resize: none;
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea:focus {
  outline: none;
  border-color: #2196f3;
}
.modal-form__button {
  color: #fff;
  background-color: #2196f3;
  padding: 10px 76px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
}
.modal-form__button:hover {
  transform: scale(1.1);
}
.modal-form__button-box {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.modal-form__statue {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal-form__statue-link {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: underline;
}
.checkbox {
  user-select: none;
  cursor: pointer;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}
.checkbox:hover {
  background: rgba(0, 119, 255, 0.06);
}
.checkbox__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.checkbox__input {
  position: absolute;
  visibility: hidden;
}
.checkbox span {
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.checkbox span:first-child {
  position: relative;
  flex: 0 0 18px;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  transform: scale(1);
  border: 1px solid #cccfdb;
  transition: all 0.3s ease;
}
.checkbox span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transform: translate3d(0, 0, 0);
}
.checkbox span:last-child {
  padding-left: 8px;
  line-height: 18px;
}
.checkbox:hover span:first-child {
  border-color: #07f;
}
.checkbox__input:checked + .checkbox span:first-child {
  background: #07f;
  border-color: #07f;
  animation: zoom-in-out 0.3s ease;
}
.checkbox__input:checked + .checkbox span:first-child svg {
  stroke-dashoffset: 0;
}
@keyframes zoom-in-out {
  50% {
    transform: scale(0.9);
  }
}
header {
  border-bottom: 1px solid #ececec;
}
.header-display-format {
  display: flex;
  align-items: center;
  padding: 25px 0px 25px 15px;
}
.header-display-format .header-nav {
  padding-left: 93px;
  padding-right: 345px;
}
.header-display-format .header-nav__underline {
  position: relative;
}
.header-display-format .header-nav__social {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
}
.header-display-format .header-nav__social .link-info:active {
  color: #2196f3;
}
.header-display-format .header-nav__item:nth-child(n + 2) {
  padding-left: 46px;
}
.header-display-format .header-nav__link {
  color: #212121;
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-display-format .header-nav__link:hover,
.header-display-format .header-nav__link:focus {
  color: #2196f3;
}
.header-display-format .header-nav__link:hover::after {
  content: "";
  display: flex;
  height: 4px;
  background-color: #2196f3;
  position: absolute;
  width: 100%;
  top: 46px;
}
.header-display-format .header-nav__link--active {
  color: #2196f3;
}
.header-display-format .header-nav__link--active::after {
  content: "";
  display: flex;
  height: 4px;
  background-color: #2196f3;
  position: absolute;
  width: 100%;
  top: 46px;
}
.header-display-format .header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
}
.header-display-format .header-contact__link {
  display: flex;
  align-items: center;
  fill: #757575;
  color: #757575;
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-display-format .header-contact__link:hover,
.header-display-format .header-contact__link:focus,
.header-display-format .header-contact__link:active {
  color: #2196f3;
  fill: #2196f3;
}
.header-display-format .header-contact__item:nth-child(2) {
  padding-left: 30px;
}
.header-display-format .header-contact__icon1-box {
  display: flex;
  align-items: center;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.header-display-format .header-contact__icon2-box {
  display: flex;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.header-display-format .header-contact__icon {
  display: flex;
}
.solutions {
  display: block;
  text-align: center;
  width: 1600px;
  padding-top: 0;
  padding-bottom: 0;
}
.baner {
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(46, 196, 255, 0.2) 1%,
      rgba(0, 0, 0, 0.7) 99%
    ),
    url(../images/images_main/main-banner.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: scroll;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 1600px;
  padding: 200px 0;
}
.baner__header {
  display: flex;
  justify-content: center;
}
.baner__slogan {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #fff;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding: 0px 0px 30px 0px;
}
.baner__button {
  padding: 10px 42px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #fff;
}
.baner__button:hover {
  transform: scale(1.1);
}
.main-advantages {
  display: flex;
  justify-content: space-around;
}
.main-advantages__item {
  display: flex;
  width: 270px;
  flex-direction: column;
}
.main-advantages__photo {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.main-advantages__header {
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.main-advantages__text {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  letter-spacing: 0.03em;
}
.activities {
  padding-top: 0;
}
.activities__header {
  padding-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.activities-content {
  display: flex;
  justify-content: space-around;
}
.activities-content__photo-container {
  height: 294px;
  position: relative;
}
.activities-content__img {
  display: block;
}
.activities-content__tag {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 27px 90px;
  background-color: rgba(47, 48, 58, 0.8);
  align-items: center;
  justify-content: center;
}
.activities-content__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
.team {
  width: 1600px;
  background-color: #f5f4fa;
}
.team__header {
  padding-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.main-team {
  display: flex;
  justify-content: space-around;
}
.main-team__background {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.main-team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 30px;
}
.main-team__description {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  padding-top: 10px;
}
.main-team-social {
  display: flex;
  justify-content: center;
  padding: 16px 0 32px 0;
}
.main-team-social__item:nth-child(n + 2) {
  padding-left: 10px;
}
.main-team-social__background {
  display: flex;
  background-color: #fff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-team-social__background:hover,
.main-team-social__background:focus {
  background-color: #2196f3;
}
.main-team-social__icon {
  padding: 12px;
  fill: #afb1b8;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-team-social__icon:hover,
.main-team-social__icon:focus {
  fill: #fff;
}
.clients__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
  text-align: center;
}
.clients .main-clients {
  display: flex;
  justify-content: space-around;
}
.clients .main-clients__background {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients .main-clients__background:hover,
.clients .main-clients__background:focus {
  border-color: #2196f3;
  fill: #2196f3;
}
.clients .main-clients__icon {
  padding: 16px 32px 16px 32px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients .main-clients__icon:hover,
.clients .main-clients__icon:focus {
  fill: #2196f3;
}
.foot {
  padding-top: 0;
  padding-bottom: 0;
}
footer {
  width: 1600px;
  height: 252px;
  background: #2f303a;
}
.footer__format {
  display: flex;
  padding-left: 15px;
}
.footer-contact {
  padding-top: 60px;
}
.footer-contact__adress {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
  color: #fff;
}
.footer-contact__item:nth-child(2) {
  padding-top: 20px;
}
.footer-contact__item:nth-child(n + 3) {
  padding-top: 9px;
}
.footer-contact__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact__link:hover,
.footer-contact__link:focus {
  color: #2196f3;
}
.footer-contact__link .link-mail-portfolio {
  text-decoration: underline;
}
.footer-icon-format {
  padding-top: 72px;
  padding-left: 70px;
}
.footer-icon-format__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
.footer-social {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.footer-social__item:nth-child(n + 2) {
  padding-left: 10px;
}
.footer-social__icon {
  padding: 12px;
  fill: #fff;
}
.footer-social__link {
  display: flex;
  background-color: #fff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__link:hover,
.footer-social:focus {
  background-color: #2196f3;
}
.footer-newsletter {
  padding-left: 78px;
  padding-top: 72px;
  display: flex;
}
.footer-newsletter__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
.footer-newsletter__format {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
}
.footer-newsletter__input {
  padding: 15px 0px 15px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 358px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #fff;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-newsletter__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer-newsletter__input:not(:placeholder-shown):required:valid {
  border-color: green;
}
.footer-newsletter__input:focus {
  outline: none;
  border-color: #2196f3;
}
.footer-newsletter__button {
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: #fff;
  padding: 10px 24px 10px 42px;
  display: flex;
  align-items: center;
  fill: #fff;
}
.footer-newsletter__button:hover {
  transform: scale(1.1);
}
.footer-newsletter__button-box {
  padding-left: 12px;
  display: flex;
}
.footer-newsletter__svg {
  width: 24px;
  height: 24px;
  display: flex;
  margin-left: 24px;
}
.portfolio-filter {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  padding-bottom: 50px;
}
.portfolio-filter__button {
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #212121;
  padding: 6px 22px 6px 22px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
}
.portfolio-filter__button:hover,
.portfolio-filter__button:focus {
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-product {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.portfolio-product__background {
  width: 370px;
  background-color: #fff;
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.portfolio-product__background:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-product__background:hover .portfolio-product__overlay {
  transform: translatey(0);
}
.portfolio-product__specification {
  display: block;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  background-color: #fff;
  z-index: 3;
  position: relative;
}
.portfolio-product__photo {
  display: block;
}
.portfolio-product__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding: 20px 0px 4px 24px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-product__description {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  padding: 0px 0px 20px 24px;
}
.portfolio-product__overlay {
  display: flex;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms ease;
  align-items: center;
  justify-content: center;
}
.portfolio-product__overlay-text {
  display: flex;
  color: #fff;
  width: 301px;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
} /*# sourceMappingURL=style.css.map */
