header {
  border-bottom: 1px solid $header-line-bottom-color;
}
.header-display-format {
  display: flex;
  align-items: center;
  padding: 25px 0px 25px 15px;

  .header-nav {
    padding-left: 93px;
    padding-right: 345px;

    &__underline {
      position: relative;
    }
    &__social {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      display: flex;

      .link-info:active {
        color: $links-color;
      }
    }
    &__item:nth-child(n + 2) {
      padding-left: 46px;
    }
    &__link {
      color: $basic-text-color;
      transition-property: fill, color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        color: $links-color;
      }

      &:hover::after {
        content: "";
        display: flex;
        height: 4px;
        background-color: $icon-clients-background-color;
        position: absolute;
        width: 100%;
        top: 46px;
      }

      &--active {
        color: $links-color;

        &::after {
          content: "";
          display: flex;
          height: 4px;
          background-color: $links-color;
          position: absolute;
          width: 100%;
          top: 46px;
        }
      }
    }
  }

  .header-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;

    &__link {
      display: flex;
      align-items: center;
      fill: $paragraph-link-content;
      color: $paragraph-link-content;

      transition-property: fill, color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus,
      &:active {
        color: $links-color;
        fill: $links-color;
      }
    }

    &__item:nth-child(2) {
      padding-left: 30px;
    }

    &__icon1-box {
      display: flex;
      align-items: center;
      width: 16px;
      height: 12px;
      margin-right: 10px;
    }
    &__icon2-box {
      display: flex;
      width: 16px;
      height: 16px;
      margin-right: 10px;
    }
    &__icon {
      display: flex;
    }
  }
}
@media screen and (max-width: 768px) {
}

@media screen and (min-width: 769px) {
}

@media screen and (min-width: 1200px) {
  header {
    border-bottom: 1px solid $header-line-bottom-color;
  }
  .header-display-format {
    display: flex;
    align-items: center;
    padding: 25px 0px 25px 15px;

    .header-nav {
      padding-left: 93px;
      padding-right: 345px;

      &__underline {
        position: relative;
      }
      &__social {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        display: flex;

        .link-info:active {
          color: $links-color;
        }
      }
      &__item:nth-child(n + 2) {
        padding-left: 46px;
      }
      &__link {
        color: $basic-text-color;
        transition-property: fill, color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
          color: $links-color;
        }

        &:hover::after {
          content: "";
          display: flex;
          height: 4px;
          background-color: $icon-clients-background-color;
          position: absolute;
          width: 100%;
          top: 46px;
        }

        &--active {
          color: $links-color;

          &::after {
            content: "";
            display: flex;
            height: 4px;
            background-color: $links-color;
            position: absolute;
            width: 100%;
            top: 46px;
          }
        }
      }
    }

    .header-contact {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      display: flex;

      &__link {
        display: flex;
        align-items: center;
        fill: $paragraph-link-content;
        color: $paragraph-link-content;

        transition-property: fill, color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus,
        &:active {
          color: $links-color;
          fill: $links-color;
        }
      }

      &__item:nth-child(2) {
        padding-left: 30px;
      }

      &__icon1-box {
        display: flex;
        align-items: center;
        width: 16px;
        height: 12px;
        margin-right: 10px;
      }
      &__icon2-box {
        display: flex;
        width: 16px;
        height: 16px;
        margin-right: 10px;
      }
      &__icon {
        display: flex;
      }
    }
  }
}
