.logo {
  width: 145px;
  font-family: $logo-text-style;

  letter-spacing: 0.03em;
  color: $logo-color2;

  &--blue {
    color: $logo-color1;
  }
  &--white {
    color: $white-color;
  }
}

@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: calc(28px / 24px);
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
