.clients {
  padding: 60px 0;
  &__header {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    padding-bottom: 30px;
    text-align: center;
  }

  .main-clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-width: 450px;
    padding: 0 15px;

    &__item {
      flex-basis: calc(100% / 2 - 2 * 15px);

      &:nth-child(-n + 4) {
        padding-bottom: 30px;
      }
    }
    &__background {
      display: flex;
      height: 92px;
      border: 1px solid $icon-team-color;
      border-radius: 4px;

      transition-property: border-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        border-color: $icon-clients-background-color;
        fill: $icon-clients-background-color;
      }
    }
    &__icon {
      padding: 16px 32px 16px 32px;
      fill: $icon-team-color;

      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        fill: $icon-clients-background-color;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .clients {
    &__header {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.17;
      letter-spacing: 0.03em;

      padding-bottom: 50px;
      text-align: center;
    }

    .main-clients {
      display: flex;
      &__item {
        flex-basis: calc(100% / 3 - 2 * 15px);
      }
      &__background {
        display: flex;
        border: 1px solid $icon-team-color;
        border-radius: 4px;
      }
      &__icon {
        padding: 16px 32px 16px 32px;
        fill: $icon-team-color;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    &__header {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.17;
      letter-spacing: 0.03em;

      padding-bottom: 50px;
      text-align: center;
    }

    .main-clients {
      display: flex;
      justify-content: space-around;
      padding: 0 0;

      &__item {
        flex-basis: calc(100% / 6 - 2 * 15px);
        &:nth-child(-n + 4) {
          padding-bottom: 0;
        }
      }
    }
    &__background {
      display: flex;
      border: 1px solid $icon-team-color;
      border-radius: 4px;
    }
    &__icon {
      padding: 16px 32px 16px 32px;
      fill: $icon-team-color;
    }
  }
}
