// Section advantages
.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}

.main-advantages {
  min-width: 290px;

  &__item {
    padding-bottom: 30px;
    &:nth-child(4) {
      padding-bottom: 0;
    }
  }
  &__photo {
    height: 120px;
    background-color: $our-team-background;
    border-radius: 4px;
    margin-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__header {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    text-align: center;
  }
  &__text {
    font-size: 14px;
    line-height: 1.71;
    color: $paragraph-link-content;
    letter-spacing: 0.03em;

    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .main-advantages {
    padding: 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    &__item {
      display: flex;
      flex-direction: column;
      padding-bottom: 0;
      flex-basis: calc(100% / 2 - 2 * 7.5px);
    }
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding: 94px 0px;
  }

  .main-advantages {
    justify-content: space-around;
    padding: 0 15px;
    &__item {
      min-width: 270px;
      flex-basis: calc(100% / 4 - 2 * 15px);
      padding-bottom: 0;
    }
    &__header {
      text-align: left;
    }
  }
}
