.clients {
  padding: 60px 0;
  &__header {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    padding-bottom: 30px;
    text-align: center;
  }

  .main-clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 30px;
    min-width: 290px;

    &__item {
      -ms-flex-preferred-size: calc(100% / 2 - 2 * 7.5px);
      flex-basis: calc(100% / 2 - 2 * 7.5px);
    }
    &__background {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 92px;
      border: 1px solid $icon-team-color;
      border-radius: 4px;

      -webkit-transition-property: border-color;

      -o-transition-property: border-color;

      transition-property: border-color;
      -webkit-transition-duration: 250ms;
      -o-transition-duration: 250ms;
      transition-duration: 250ms;
      -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        border-color: $icon-clients-background-color;
        fill: $icon-clients-background-color;
      }
    }
    &__icon {
      padding: 16px 32px 16px 32px;
      fill: $icon-team-color;

      -webkit-transition-property: fill;

      -o-transition-property: fill;

      transition-property: fill;
      -webkit-transition-duration: 250ms;
      -o-transition-duration: 250ms;
      transition-duration: 250ms;
      -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        fill: $icon-clients-background-color;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .clients {
    &__header {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.17;
      letter-spacing: 0.03em;

      padding-bottom: 50px;
      text-align: center;
    }

    .main-clients {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      gap: 30px;
      &__item {
        -ms-flex-preferred-size: calc(100% / 3 - 2 * 10px);
        flex-basis: calc(100% / 3 - 2 * 10px);
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    &__header {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.17;
      letter-spacing: 0.03em;

      padding-bottom: 50px;
      text-align: center;
    }

    .main-clients {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      padding: 0 15px;

      &__item {
        -ms-flex-preferred-size: calc(100% / 6 - 2 * 15px);
        flex-basis: calc(100% / 6 - 2 * 15px);
        &:nth-child(-n + 4) {
          padding-bottom: 0;
        }
      }
    }
  }
}
