$body-background-color: white;
$white-color: #ffffff;
$basic-text-color: #212121;
$main-baner-color: #2f303a;
$button-color: #2196f3;
$links-color: #2196f3;
$logo-color1: #2196f3;
$paragraph-link-content: #757575;
$logo-color2: black;
$header-text-color: #212121;
$button-bacground-portfolio: #f5f4fa;
$our-team-background: #f5f4fa;
$link-contact-footer: rgba(255, 255, 255, 0.6);
$portofolio-photo-background: #eeeeee;
$header-line-bottom-color: #ececec;
$icon-team-color: #afb1b8;
$icon-clients-background-color: #2196f3;
$footer-social-background: rgba(255, 255, 255, 0.1);
$footer-social-background-hover: rgba(33, 150, 243, 1);
$input-correct: green;
$placeholder-text-color: rgba(255, 255, 255, 0.6);
$main-activities-tag-background: rgba(47, 48, 58, 0.8);
$portfolio-product-overlay-background: rgba(33, 150, 243, 0.9);
$modal-form-label-header: #757575;
$modal-form-textarea-placeholder: rgba(117, 117, 117, 0.5);

$basic-text-style: "Roboto";
$logo-text-style: "Raleway";

 $tablet: calc(100% / 2 - 2 * 15px);
 $desktop: calc(100% / 4 - 2 * 15px);